<%= erb :_header %>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">.col-md-4</div>
          <div class="col-md-4"><h1>Hello, world!</h1></div>
          <div class="col-md-4">.col-md-4</div>
      </div>
  </div>
<%= erb :_footer %>